/**
 * @package sunet_theme
 * @author Sergio Pomárico
 * @version 1.0.0
 */

/* =============================================================================
// 1. Imports
// -----------------------------------------------------------------------------*/

@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

/* =============================================================================
// 1. Helpers
// -----------------------------------------------------------------------------*/

body, html{
	font-family: $body-font;
	font-size: 16px;
}

a{	
	color: $primary-color;
	&:hover,
	&:focus{
		color: $dark-gray;
		text-decoration: none;
	}
}

.bg-cover{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.vertical-center{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* =============================================================================
// 2. Header 
// -----------------------------------------------------------------------------*/

.header-container{
	display: block;
	height: 325px;
	position: relative;
}

.header-content{
	height: 85%;
	min-height: 275px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.site-title{
	color: white;
	font-size: 6rem;
	margin: 0;
}

.site-description{
	color: white;
	font-size: 1em;
	margin-top: 0.4em;
}

/* =============================================================================
// 3. Navbar 
// -----------------------------------------------------------------------------*/

.navbar-sunset{
	background-color: rgba(255,255,255,0.2);
	border: none;
	border-radius: 0;
	border-top: 1px solid rgba(255,255,255,0.2);
	min-height: auto;
	margin-bottom: 0;
	text-align: center;
	.navbar-nav{
		float: none;
		li{	
			display: inline-block;
			float: none;
			&.active{
				a { 
					opacity: 1; background-color: rgba(0,0,0,0.1)!important;
					&:after { 
						@include transform( translateY(10px) ); opacity: 0!important;
					}
					&:hover,
					&:focus,
					&:visited { 
						background-color: rgba(0,0,0,0.1)!important;
						&:after {
							@include transform( translateY(10px) ); opacity: 0!important; 
						}
					}	
				}
			}
			a{
				background: none;
				color: white;
				font-size: 0.9rem;
				letter-spacing: 0.05rem;
				opacity: 0.7;
				text-transform: uppercase;
				&:hover, &:focus, &:visited, &:active{
					@include animate(opacity,400ms);
					background: none;
					color: white;
					opacity: 1;
					&:after{
						@include transform(translateY(0px));
						opacity: 1
					}
				}
				&:after{
					@include animate(all,450ms);
					@include transform(translateY(-10px));
					background-color: white;
					bottom: 12px;
					content: '';
					display: block;
					height: 2px;
					left: 15px;
					position: absolute;
					opacity: 0;
					right: 15px;
				}
			}
			ul.dropdown-menu { 
				border: 0; border-radius: 0; background: rgba(0,0,0,0.75); 
				li { 
					display: block; 
					a {
						&:hover,
						&:focus,
						&:visited { 
							background: rgba(0,0,0,0.25)!important; color: #fff;
						}
					}
				}
			}
		}	
	}
}
.dropdown-menu{
	@include animate(opacity,500ms);
	min-width: 120px;
}
.dropdown{
	&:hover {
		.dropdown-menu {
    		display: block;
    		margin-top: 0;
    	} 
	}
}

/* =============================================================================
// 3. Navbar 
// -----------------------------------------------------------------------------*/
article{
	margin-bottom: 5rem;
}
h1{
	color: $primary-color;
	font-size: 3em;
	font-weight: 200;
	&.entry-title{
		line-height: 1.5rem;
		margin: 3rem 0 1.25rem;
		padding: 0;
		&:before, &:after{
			content: '~';
		}
		&:before{
			margin-right: 10px;
		}
		&:after{
			margin-left: 10px;
		}
	}
}
.entry-meta{
	color: $light-gray;
	font-size: .8rem;
	font-weight: 300;
	margin-bottom: 1.25rem;
	a{
		@include animate(color,350ms);
		color: $light-gray;
		font-weight: 500;
		&:hover{
			color: $dark-gray;
		}
	}
}
.entry-content{
	display: inline-block;
}
.standard-feature{
	padding:0;
	position:relative;
	display: block;
	&:after{
		background-color: rgba(0,0,0,0.15);
		bottom: 0;
		box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
		content: '';
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.standard-feature-link{
	display: inline-block;
	margin: 0 15px;
	position: relative;
	&:hover, &:focus{
		.standard-feature{
			&:after{
				@include animate(background-color, 350ms);
				background-color: rgba(0,0,0,0);
			}
		}
	}
}

.entry-excerpt { 
	display: inline-block;
	margin: 30px 0 16px;
	p {
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.02em;
		line-height: 1.5em;
	}
}

.button-container {
	display: inline-block;
	margin-bottom: 30px;
}

.btn-sunset { 
	@include animate( all, 320ms );
	background-color: transparent;
	border: 1px solid $light-gray;
	border-radius: 0;
	color: $light-gray;
	font-size: .9rem;
	font-weight: 300; 
	padding: 8px 12px;
	text-transform: uppercase;
	&:hover, &:focus {
		color: #ffffff; border-color: $dark-gray; background-color: $dark-gray;
	}
}

.entry-footer {
	border-bottom: 4px solid $lighter-gray;
	color: $light-gray;
	display: inline-block;
	padding: 10px 5px; 
	text-transform: uppercase;
	width: 100%;
	a {
		color: $light-gray; display: inline-block; font-size: 12px; 
		&:hover,&:focus{
			color: $dark-gray;
		}
	}
	.tags{
		.sunset{
			margin-right: 10px;
		}
		a {
			padding: 0 4px; 
		}
	}
	.comments-link {
		.sunset {
			margin-left: 10px;
		}
	}
}

/* =============================================================================
// 3. Footer 
// -----------------------------------------------------------------------------*/

.sunset-footer{
	background-color: $dark-gray;
	color: white;
	margin-top: 50px;
}