/**
 * @package sunet_theme
 * @author Sergio Pomárico
 * @version 1.0.0
 */

/* =============================================================================
// 1. Variables
// -----------------------------------------------------------------------------*/

$icon-font: 'sunset';
$body-font: 'Raleway', sans-serif;
$primary-color : #000000;
$light-gray: #898989;
$lighter-gray: #f1f1f1;
$dark-gray: #333333; 